 <!-- About-->
 <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Über unser</h2>
            <h3 class="section-subheading text-muted">FRISCHER WIND IN IHREM GARTEN!</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/logo_hors.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1986</h4>
                        <h4 class="subheading">Unsere bescheidenen Anfänge</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Seit 1986 präsentieren wir uns als Garten- und Landschaftsbauunternehmen und bieten Ihnen ein umfangreiches Leistungsangebot. Dieses erstreckt sich rund um Haus und Garten sowie Ihre Wohn- und Betriebsanlagen.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/bg-sun.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>jetzt danach</h4>
                        <h4 class="subheading"></h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Der Spaß an unserem Beruf spiegelt sich in unserer Arbeit wieder. <br>
                        Von der Planung, über die korrekte Ausführung, bis hin zur zuverlässigen Pflege und Betreuung Ihres Gartens, Ihrer Wohn-oder Betriebsaußenanlage sind wir Ihr kompetenter Ansprechpartner.</p></div>
                </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>Teilnehmen<br />Von unseren<br />Die Geschichte!</h4>
                </div>
            </li>
        </ul>
    </div>
</section>