    <section class="page-section" id="impressum">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Unser Impressum und Haftungshinweis</h2>
                <h3 class="section-subheading text-muted"></h3>
                <table style="height: 232px; width: 559px;" align="center">
                    <tbody>
                    <tr style="height: 2px;">
                    <td style="width: 300px; height: 2px;">
                    <h4><span style="color: #008000;">Verantwortlich f&uuml;r den Inhalt:</span></h4>
                    </td>
                    <td style="width: 24px; height: 2px;">&nbsp;</td>
                    <td style="width: 300px; height: 2px;">
                    <h4><span style="color: #008000;">Programmierung &amp; Konzept:</span></h4>
                    </td>
                    </tr>
                    <tr style="height: 27px;">
                    <td style="width: 245px; height: 27px;">
                    <p><span style="color: #008000;">Fa. Horst Eggers</span><br /><span style="color: #008000;">Hauptstrasse 4</span><br /><span style="color: #008000;">23826 Fredesdorf</span></p>
                    </td>
                    <td style="width: 24px; height: 27px;"><span style="color: #008000;">&nbsp;</span></td>
                    <td style="width: 268px; height: 27px;"><span style="color: #008000;">Creative Multimedia Production Ltd.</span></td>
                </tr>
                    <tr style="height: 4px;">
                    <td style="width: 245px; height: 4px;">
                    <p><span style="color: #008000;">Tel.: 0174 - 9131740</span></p>
                    </td>
                    <td style="width: 24px; height: 4px;"><span style="color: #008000;">&nbsp;</span></td>
                    <td style="width: 268px; height: 4px;"><span style="color: #008000;">Mail: webmaster@cmp-ltd.de</span><br /><span style="color: #008000;">www.creative-webservice.de</span></td>
                    </tr>
                    <tr style="height: 39px;">
                    <td style="width: 245px; height: 39px;">
                    <p><span style="color: #008000;">Mail: info@h-eggers-galabau.de</span><br /><span style="color: #008000;">www.h-eggers-galabau.de</span></p>
                    </td>
                    <td style="width: 24px; height: 39px;"><span style="color: #008000;">&nbsp;</span></td>
                    <td style="width: 268px; height: 39px;"><span style="color: #008000;">&nbsp;</span></td>
                    </tr>
                    <tr style="height: 14px;">
                    <td style="width: 245px; height: 14px;">
                    <p><span style="color: #008000;">Inhaber:</span><br /><span style="color: #008000;">Bennet Leonhardt</span></p>
                    </td>
                    <td style="width: 24px; height: 14px;"><span style="color: #008000;">&nbsp;</span></td>
                    <td style="width: 268px; height: 14px;"><span style="color: #008000;">&nbsp;</span></td>
                    </tr>
                    <tr style="height: 23px;">
                    <td style="width: 245px; height: 23px;"><span style="color: #008000;">Steuernummer: DE327077018</span></td>
                    <td style="width: 24px; height: 23px;"><span style="color: #008000;">&nbsp;</span></td>
                    <td style="width: 268px; height: 23px;"><span style="color: #008000;">&nbsp;</span></td>
                    </tr>
                    </tbody>
                    </table>
                    <table border="0" width="100%" cellspacing="0" cellpadding="0" align="left">
                    <tbody>
                    <tr>
                    <td valign="center">
                    <p><span style="color: #008000; text-decoration: underline;"><strong>Haftungshinweis:</strong></span></p>
                    </td>
                    </tr>
                    <tr>
                    <td valign="top">
                    <p><span style="color: #008000;">Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine</span><br /><span style="color: #008000;">Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt der verlinkten</span><br /><span style="color: #008000;">Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.</span></p>
                    </td>
                    </tr>
                    </tbody>
                    </table>
            </div>            
        </div>
    </section>

