<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Unsere Leistungen</h2>
            <h3 class="section-subheading text-muted"> Planung - Ausführung - Pflege</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Planung</h4>
                <p class="text-muted">Haben wir Ihnen die richtigen Anregungen gegeben und sie sind von 
                    der entwickelten Idee angetan, können sich aber noch nicht so richtig vorstellen 
                    wie alles einmal werden könnte, liefern wir Ihnen gerne Planunterlagen in Form eines 
                    Vorentwurfs, der an ein Angebot gekoppelt, 
                    Aufschluß über die entstehenden Kosten gibt und die Anregungen und Wünsche veranschaulicht.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-laptop fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Ausführung</h4>
                <p class="text-muted">Wenn Sie viel Wert auf Flexibilität während der Bauphase legen und gerne eigene 
                    Wünsche einbringen möchten, setzen wir diese in Ihrem Sinne um, ohne dabei die technisch 
                    machbaren Möglichkeiten und Qualitätsstandards zu vernachlässigen.
                    An einer nicht fachgerecht ausgeführten Arbeit haben weder Sie noch wir Freude.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-lock fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Pflege</h4>
                <p class="text-muted">Wenn sie der Meinung sind Ihr Garten ist zum Erholen und 
                    nicht zum Arbeiten da, übernehmen wir für Sie gern die Arbeiten wie Rasenmähen, 
                    Rasenkanten stechen, Unkraut jäten, Bäume und Sträucher schneiden, usw.</p>
                    
            </div>
        </div>
        <div style="color: rgba(196, 196, 38, 0.952)">
           <p class="text-muted"><i>Sind Sie eher der Meinung dass Gartenarbeit ein Ausgleich für den oft 
            stressigen Berufsalltag ist, aber oft Fragen aufwirft, helfen wir hier gerne. 
            Wir geben Tipps den Garten fachgerecht zu Pflegen und weiterzuentwickeln.
        </i></p> 
           <p class="text-muted"><i>
            Aber auch der richtig Gehölz-, und Obstbaumschnitt 
            oder die fachmännische Fällung Ihnen über den Kopf gewachsener Bäume bereitet uns keine Probleme, 
            selbst Großbäume im unmittelbaren Bereich von Wohnhäusern stellen für uns bei der Auslichtung , 
            Fällung oder Rodung kein wirkliches Problem dar. 
            Der Schutz angrenzender Vegetation oder Gebäude hat hierbei absolute Priorität.</i>
        </p> 
        </div>
        <div class="text-lg-center">
            <h4 style="text-align: center;"><span style="text-decoration: underline; color: #808000;">Unsere Leistungen im einzelnen:</span></h4>
                <p style="text-align: center;"><span style="color: #808000;">Pflegema&szlig;nahmen</span>
                    <br /><span style="color: #808000;">Rasen-Vertikutierdienst</span><br />
                    <span style="color: #808000;">Zaunbau</span><br /><span style="color: #808000;">Pflanzarbeiten</span>
                    <br /><span style="color: #808000;">Gartengew&auml;sser</span><br />
                    <span style="color: #808000;">Natur- und Betonsteinarbeiten</span><br />
                    <span style="color: #808000;">Planung</span><br /><span style="color: #808000;">Winterdienst</span>
                </p>
        </div>
    </div>
</section>
